 <div class="navbar-fixed">
        <nav class="red darken-4">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo left">Doña Magola</a>
                
            </div>

        </nav>
    </div> 