    <div class="container section">
        <div class="row">
            <div class="col s12"></div>
        </div>
        <div class="row">
            <div class="col s12"></div>
        </div>
        <div class="row">
            <div class="col s12"></div>
        </div>
        <div class="row">
            <div class="col s12"></div>
        </div>

        <div class="row">
            <div class="col s3"></div>
            <div class="col s6  center">
                <i class="material-icons large ">person</i>
                <form action="/links/Login" method="POST">
                <div class="input-field">
                    <input type="text" placeholder="aaaaaaaaaaaaaaaaaaaaaa" class="validate" name="IDENTIFICACION"  required>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Contraseña" class="validate" name="CARGO" required>
                </div>
                <button class="waves-effect waves-light btn red darken-4" type="submit" href="menuPrincipal.html">Ingresar</button>
                </form>
            </div>
        </div>
    </div>