<style>
    body {
        background: #b71c1c;
    }
    #secondDiv {
        margin-top: 50px;
        margin-left: 400px;
    }
</style>
<div class="navbar-fixed">
    <nav class="grey lighten-3">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo left red-text text-darken-4">Counting Food</a>
            <ul class="right hide-on ">
                <li><a class="red-text text-darken-4" href="/links/menuPrincipal">MENU PRINCIPAL</a></li>
                <li><a class="red-text text-darken-4" href="/Logout">CERRAR SESIÓN</a></li>
        </div>
    </nav>
</div>
<div>
    <div class="row">
        <div class="col s12 m5 center" id="secondDiv">
            <div class="card-panel grey lighten-3">
                <h2 class="red-text text-darken-4 center">¡Hola!
                Lo sentimos. Nos encontramos en mantenimiento para brindarte un mejor servicio. 
                </h2>
            </div>
        </div>
    </div>
</div>